include ../default/build-header
// main start
include home/main.pug 
// main end
include home/selection.pug
include home/yachts.pug
include home/services.pug
include home/suitable.pug
include home/warning.pug
include home/routes.pug
include home/advantages.pug

include home/feedback.pug
include home/about.pug
include home/question.pug
include home/banner.pug
include home/team.pug
include home/reviews.pug
include home/faq.pug

include home/blog.pug

include home/partners.pug

// main page content end

// footer start

include ../blocks/footer.pug 
// footer end 