section
	.main-full.head-section
		h2.title-section Наши преимущества
		.subtitle-section Наша цель – сделать ваше времяпровождение с нами максимально комфортным. Мы предоставляем не только лучший сервис вейкбординга и вейксерфинга в Дубае, но и всегда стараемся выполнить пожелания наших клиентов.
	.main-grid
		.col-4
			+advantagesItemSimple('Абсолютно новые профессиональные буксиры от известных брендов','/images/adv/1.svg', false)
		.col-4
			+advantagesItemSimple('Абсолютно новые профессиональные буксиры от известных брендов','/images/adv/2.svg', false)
		.col-4.advantages-item-extra-1
			+advantagesItemSimple('Опытные профессионалы, капитаны и команда. Профессиональные тренеры, говорящие на русском и английском языках','/images/adv/3.svg', false)