section.detail-slider 
	.main-full.head-section
		h2.title-section Вейксерфинг в Дубае специально для вас
		.subtitle-section Независимо от того, являетесь ли вы новичком или опытным любителем водных видов спорта, вы можете заняться вейкбордингом и вейксерфингом на наших новейших лодках Nautique и Centurion! Профессиональные инструкторы на борту! Мы гарантируем незабываемое удовольствие всем, кто ищет дополнительные преимущества.
	.detail-owl.owl-carousel 
		-for(var x=0;x<10;x++)
			.detail-owl-item.img-cover
				img(src="/images/temp/1.jpg", alt="")