section.blog-last.owl-home
	.main-full.head-section
		h2 дополнительные услуги
		.btn-container
			a(href="#").btn.btn--blue Смотреть все статьи 
		.stab-arrow
	.main-full.owl-second.owl-carousel
		-for (var i=0; i < 8; i++)
			+servicesItem('Кейтеринг на яхте','от 850 AED/час','/images/temp/serv/1.jpg')
