include ../../default/build-header
		
// header end
.stub

+roofContent("Дополнительные услуги")
	.catalog-grid.main-grid
		.col-4 
			+servicesItem('Кейтеринг на яхте','от 850 AED/час','/images/temp/serv/1.jpg')
		.col-4 
			+servicesItem('Кейтеринг на яхте','от 850 AED/час','/images/temp/serv/1.jpg')
		.col-4 
			+servicesItem('Кейтеринг на яхте','от 850 AED/час','/images/temp/serv/1.jpg')
		.col-4 
			+servicesItem('Кейтеринг на яхте','от 850 AED/час','/images/temp/serv/1.jpg')
		.col-4 
			+servicesItem('Кейтеринг на яхте','от 850 AED/час','/images/temp/serv/1.jpg')
		.col-4 
			+servicesItem('Кейтеринг на яхте','от 850 AED/час','/images/temp/serv/1.jpg')
	include ../home/feedback.pug
	include ../home/reviews.pug
// footer start  

include ../../blocks/footer.pug

// footer end 