include ../../default/build-header
		
// header end
.stub
+roofContent('', false)
	.services-main
		.services-main-wather
		.services-main-img.img-cover 
			img(src="/images/temp/serv/4.jpg", alt="")
		.main-grid 
			.col-5.services-main-info 
				.services-main-info-container
					.services-main-price  от 850 AED/час
					h1 Рыбалка на яхте
					.services-main-text  Аренда яхт в Дубае — лучшее место для аренды роскошных яхт в Дубае. Мы предлагаем широкий выбор яхт для аренды по разумным ценам, предоставляя посетителям и жителям всего мира изысканный опыт.
					.btn-container 
						a.btn.btn--blue(href="#") Забронировать услугу
	include detail-tabs.pug

	section.pricelist-section 
		.main-full.head-section
			h2.title-section наш прайс-лист
			ul.ln.pricelist-list
				-for(var x=0; x<3; x++)
					li 
						h3 
							span Наименование услуги 60 мин.
							.question-ico
						.pricelist-price 800 AED
			.btn-container 
				a.btn.btn--blue-border.whatsapp-btn.whatsapp-btn--large
					i
					span Забронируйте сейчас в WhatsApp
				.btn-hint.
					Или воспользуйтесь <a href="#">формой</a> ниже
	include ../home/feedback.pug
	.simple-item-about.main-grid
		.col-7
			.simple-item-text 
				h3 Индивидуальный опыт для всех
				p Компания Luxury Sea Boats Charter предлагает поездки на рыбалку и индивидуальные экскурсии — все они расположены в Дубай Марине и гавани. Дубриани предлагает множество возможностей для любых рыболовных интересов, от начинающих до продвинутых рыболовов, все возрасты приветствуются. Надеемся вскоре увидеть вас на борту!
				h3 Чартер глубоководной рыбалки
				p Чартер для глубоководной рыбалки в водах вокруг Дубая дает вам возможность отлично провести время с друзьями и родственниками, ориентация на разную рыбу. Смена глубин и смешанные течения – большие преимущества Аравийского моря, позволяющие заниматься троллингом и донной рыбалкой во время одной рыбалки.
				p По этой причине сюда приезжают рыбаки со всего мира, от новичков до экспертов. Рыбалка в Дубае весь год - это новый захватывающий опыт, который мы рекомендуем пережить!
		.col-5.simple-item-img.img-cover
			img(src="/images/temp/boad/1.jpg", alt="")
	.simple-item-about.main-grid
		.col-5.simple-item-img.img-cover
			img(src="/images/temp/boad/1.jpg", alt="")
		.col-7
			.simple-item-text 
				h3 Индивидуальный опыт для всех
				p Компания Luxury Sea Boats Charter предлагает поездки на рыбалку и индивидуальные экскурсии — все они расположены в Дубай Марине и гавани. Дубриани предлагает множество возможностей для любых рыболовных интересов, от начинающих до продвинутых рыболовов, все возрасты приветствуются. Надеемся вскоре увидеть вас на борту!
				h3 Чартер глубоководной рыбалки
				p Чартер для глубоководной рыбалки в водах вокруг Дубая дает вам возможность отлично провести время с друзьями и родственниками, ориентация на разную рыбу. Смена глубин и смешанные течения – большие преимущества Аравийского моря, позволяющие заниматься троллингом и донной рыбалкой во время одной рыбалки.
				p По этой причине сюда приезжают рыбаки со всего мира, от новичков до экспертов. Рыбалка в Дубае весь год - это новый захватывающий опыт, который мы рекомендуем пережить!
	include ../home/advantages.pug
	include ../home/faq.pug
	include ../home/reviews.pug
	include ../detail/serv-adv.pug
	include ../home/feedback.pug
// footer start 
include ../../blocks/footer.pug

// footer end   