include items/popular-item.pug 
include items/news-item.pug 
include items/services-item.pug 
include items/suitable-item.pug
include items/warning-item.pug
include items/routes-item.pug
include items/contacts-item.pug 
include items/reviews-item.pug
include items/advantages-item.pug
include pagination.pug
include forms-inputs.pug
include popup.pug
include social.pug
include roof-content.pug