mixin videoBox(title, img)
	.video-box
		.video-info
			.video-info-container
				h2= title
				.video-text Покорение моря, соленые брызги, ветер в волосах, плюс куча адреналина и веселья — это лучший способ провести свободное время в Дубае! Все, что вам нужно, это позвонить нам, и мы поможем вам поймать волну и наслаждаться каждой секундой на доске!
				.btn-container 
					a.btn.btn--yellow(href="#") подробнее
		.video-container 
			img(src=img, alt=img)
			.video-btn
				span 
				i