section.advantages-home
	.main-full.head-section
		h2.title-section
			| Наши преимущества
	.main-grid.owl-mobile.owl-carousel
		.col-4
			+advantagesItem('Собственный флот','/images/adv/1.svg')
		.col-4
			+advantagesItem('Лучшие яхты','/images/adv/2.svg')
		.col-4
			+advantagesItem('Индивидуальные туры','/images/adv/3.svg')
		.col-2
		.col-4
			+advantagesItem('Команда профессионалов','/images/adv/4.svg')
		.col-4
			+advantagesItem('Страхование','/images/adv/5.svg')