.stub
.main-home
	.main-home-img.img-cover
		img(src="/images/main-bg.jpg", alt="")
	.main-home-content.main-full
		.main-home-info
			h2 LUXURY SEA BOATS
			h1 Аренда яхт в Дубае
		.home-banner 
			span Получить консультацию
		.scroll-home-container
			.scroll-home