section.question-home
  .question-home-tabs
    span 
      em Наш флот
    span.active 
      em Как выбрать оптимальную яхту в Дубае?
  .question-home-container
    .question-home-item
      .main-grid 
        .col-6
          h2 Как выбрать оптимальную яхту в Дубае?
          p Все зависит от целей, для которых вы планируете арендовать яхту или катер в Дубае. Если вы желаете насладиться восхитительными видами города, путешествуя по его многочисленным каналам в жаркую погоду, то лучше выбрать для аренды быстроходный катер с тентом.
          p Для неспешной романтической прогулки вечером подойдёт небольшая глиссирующая яхта со стабилизатором качки. На борту такого судна, вы не только сможете насладиться морской прохладой и прекрасными видами, но и устроить великолепный ужин для двоих.
          p Весёлую вечеринку с друзьями можно провести на яхте или катере любого размера и скоростных характеристик. Все судна LSB-charter оснащены мощными аудиосистемами и необходимым оборудованием для беззаботного отдыха. Если планируете порезвиться в море во время вашей вечеринки, то стоит обратить внимание в первую очередь на яхты и катера с платформой для купания или удобным сходом в воду. Чем больше ваша компания, тем шире должна быть платформа.
          img(src="/images/temp/boad/1.jpg", alt="")
        .col-6
          img(src="/images/temp/boad/1.jpg", alt="")
          p А вот для тех, кто предпочитает активные водные виды спорта, подходят только мощные катера-буксировщики. Так как прогулочная яхта или простая моторная лодка не способны создать волну нужной длины, высоты и формы.
          p В промысловый сезон, когда поудить можно вблизи Дубая, рыболову достаточно арендовать компактный прогулочный катер. Главное, чтобы на его борту имелись снасти. Но если вы планируете отправиться на глубоководную рыбалку, да ещё в компании друзей или родных, то имеет смысл остановить выбор на быстроходной прогулочной яхте, оборудованной всем необходимым для рыбной ловли, отдыха и приготовления пищи на борту.
          p Ну и конечно же серьёзные и торжественные мероприятия с фуршетом приятнее всего организовывать на большой роскошной яхте, неспешно скользящей по бирюзовой глади залива. Такие яхты располагают просторными салонами, вместительными каютами, удобными террасами и достаточными для большого числа гостей открытыми пространствами.
          p Ознакомитесь с нашими предложениями яхт и подберите себе наиболее подходящую по размеру, оснащению, функциональности и цене лодку. Компания LSB Charter предлагает самые гибкие и демократичные цены для аренды яхты в Дубае. Планируйте свой отдых вместе с нами!
        .col-12
          h3 Откройте для себя морские прогулки в компании с LSB Charter
        .col-6
          p Аренда лодки в Дубае – это лучший, быстрый и недорогой способ знакомства с достопримечательностями мегаполиса. LSB-Charter предлагает отличные прогулочные маршруты с оптимальным соотношением цены и качества.
        .col-6
          p Все наши круизы начинаются с причала Дубай Марина – это обеспечивает удобную транспортную доступность и дает вам возможность организовать идеальный маршрут для морского путешествия. Для самых взыскательных гостей команда LSB-Charter готова предложить эксклюзивную аренду яхты в Дубае с учетом всех ваших пожеланий!
    .question-home-item.active
      .main-grid 
        .col-12 
          h2 Наш флот
        .col-6
          p Невозможно иметь роскошный отдых на борту без отличной лодки. Только лучшие моторные яхты и катера построенные на верфях крупнейших итальянских судостроителей Azimut, Sanlorenzo и Sessa Marine представляют наш флот.
          p Наиболее отличительными особенностями судов Azimut являются особая экологичность отделочных материалов, повышенная звукоизоляция, грамотная организация палубного пространства и классический дизайн интерьера. Выбирая любую яхту Azimut в аренду, вы можете быть уверены, что ваш отдых будет окружен непринужденной итальянской красотой и комфортом самого высокого уровня.
          p Любая яхта Sanlorenzo является образцом высокопрофессионального судостроения и создается по индивидуальному заказу, в соответствии с приоритетами и пожеланиями заказчика. Элегантная изысканность, идеальный баланс и отличные ходовые качества присущи абсолютно всем кораблям этого производителя. 
          
        .col-6
          p Наша яхта Sanlorenzo SL82 предназначена для самого роскошного круиза по водам Дубая.
          p Название крупнейшей европейской верфи Sessa Marine уже давно стало синонимом лучших моторных лодок. Модели этой марки отличаются скоростью, идеальной планировкой внутреннего пространства и высоким комфортом, независимо от размеров судна. Любая из наших Key Largo это лучший выбор для аренда моторного катера как для экскурсий по каналам Дубая, так и для активного отдыха или рыбалки в Персидском заливе.
          p Комфорт и безопасность наших гостей очень важны для нас, поэтому весь наш автопарк проходит обязательную ежегодную проверку и полностью укомплектован спасательным оборудованием.
          p Добро пожаловать на борт LSB Charter!
        .col-6 
          img(src="/images/temp/boad/1.jpg", alt="")
        .col-6 
          img(src="/images/temp/boad/1.jpg", alt="")
        .col-12
          h3 Откройте для себя морские прогулки в компании с LSB Charter
        .col-6
          p Аренда лодки в Дубае – это лучший, быстрый и недорогой способ знакомства с достопримечательностями мегаполиса. LSB-Charter предлагает отличные прогулочные маршруты с оптимальным соотношением цены и качества.
        .col-6
          p Все наши круизы начинаются с причала Дубай Марина – это обеспечивает удобную транспортную доступность и дает вам возможность организовать идеальный маршрут для морского путешествия. Для самых взыскательных гостей команда LSB-Charter готова предложить эксклюзивную аренду яхты в Дубае с учетом всех ваших пожеланий!