section.reviews-home.owl-home
	.main-full
		.head-section
			h2.title-section 
				| Впечатления и отзывы
			.btn-container
				a(href="#").btn.btn--blue СМОТРЕТЬ ВСЕ отзывы
			.stab-arrow
	.main-full.owl-second.owl-carousel
		-for(var x = 0; x < 7; x++)
			+reviewsItem("Alex But","10/10/10")
