section.routes-home
	.head-section.main-full
		h2 Популярные маршруты в Дубае
	.main-grid
		.col-6
			+routesItem("Lorem ipsum","Маршрут 1","6-7 часов","../images/temp/boad/1.jpg")
		.col-6
			+routesItem("Lorem ipsum","Маршрут 2","6-7 часов","../images/temp/boad/2.jpg")
		.col-6
			+routesItem("Lorem ipsum","Маршрут 3","2-10 часов","../images/temp/boad/3.jpg")
		.col-6
			+routesItem("Lorem ipsum","Маршрут 4","6-7 часов","../images/temp/boad/1.jpg")
	.btn-container-section
		a.btn.btn--yellow(href="#") 
			| Все маршруты