section.routes-home
	.head-section.main-full
		h2.title-section Популярные маршруты в Дубае
	.main-grid
		.col-6
			+routesItem("Dubai Marina, JBR and Palm Jumeirah tour","Маршрут 1","6-7 часов","/images/temp/boad/1.jpg")
		.col-6
			+routesItem("Dubai Marina, JBR and Palm Jumeirah tour","Маршрут 2","6-7 часов","/images/temp/boad/2.jpg")
		.col-6
			+routesItem("Dubai Marina, JBR and Palm Jumeirah tour","Маршрут 3","2-10 часов","/images/temp/boad/3.jpg")
		.col-6
			+routesItem("Dubai Marina, JBR and Palm Jumeirah tour","Маршрут 4","6-7 часов","/images/temp/boad/1.jpg")
	.btn-container-section
		a.btn.btn--yellow(href="#") 
			| Все маршруты