section.selection-home
	.head-section.main-full
		h2 Подобрать яхту
	.main-grid
		.col-4  
			.selection-item 
				+inputSelect('ТИП СУДНА', ['селект 1','селект 2','селект 3','селект 4','селект 5',], 'boad-select')
		.col-4
			.selection-item 
				+rangeSliderOne('КОЛИЧЕСТВО КАЮТ', 10)
		.col-4  
			.selection-item 
				+rangeSliderTwo('ЦЕНА (AED/час)', 100, 30, 70)
		.col-4  
			.selection-item 
				+rangeSliderTwo('ДЛИНА (м.)', 60, 10, 22)
		.col-4  
			.selection-item 
				+rangeSliderTwo('ВМЕСТИМОСТЬ (чел.)', 40, 2, 20)
		.col-4  
			.selection-btn-container
				.btn.btn--yellow Поиск яхт