section.services-home
	.main-full.head-section
		h2.title-section 
			| Дополнительные услуги
	.main-grid
		.col-3
			+servicesItem('Кейтеринг на яхте','от 850 AED/час','/images/temp/serv/1.jpg')
		.col-3
			+servicesItem('Оформление яхты','от 850 AED/час','/images/temp/serv/2.jpg')
		.col-6
			+servicesItem('Wake Dubai','от 850 AED/час','/images/temp/serv/3.jpg')
		.col-6
			+servicesItem('Активные развлечения на воде','от 850 AED/час','/images/temp/serv/1.jpg')
		.col-3
			+servicesItem('рыбалка на яхте','от 850 AED/час','/images/temp/serv/2.jpg')
		.col-3
			+servicesItem('Гриль для готовки свежепойманной рыбы','от 850 AED/час','/images/temp/serv/3.jpg')