section.suitable-home
	.main-full.head-section
		h2.title-section 
			| Найдите подходящую яхту
	.main-grid
		.col-6
			+suitableItem('Катера','Наилучший способ открыть для себя все самые известные места Дубая с водной глади','от 850 AED/час','/images/temp/boad/1.jpg')
		.col-6
			+suitableItem('Яхты стандарт','Наилучший способ открыть для себя все самые известные места Дубая с водной глади','от 850 AED/час','/images/temp/boad/2.jpg')
		.col-12
			+suitableItem('VIP Яхты','Наилучший способ открыть для себя все самые известные места Дубая с водной глади','от 850 AED/час','/images/temp/boad/3.jpg', 'extra')
