section.warning-home
	.main-full.head-section
		h2.title-section 
			| Найдите подходящую яхту
	.main-grid
		.col-4.col-sm-12.warning-item-container-1
			+warningItem('Вместительность','Наилучший способ открыть для себя все самые известные места Дубая с водной глади','/images/temp/warning/1.svg')
		.col-4.col-sm-6
			+warningItem('Функциональность','Наилучший способ открыть для себя все самые известные места Дубая с водной глади','/images/temp/warning/2.svg')
		.col-4.col-sm-6
			+warningItem('Сервис','Наилучший способ открыть для себя все самые известные места Дубая с водной глади','/images/temp/warning/3.svg')
