mixin popularItem(name, text, data)
	.popular-item
		.popular-item-img
			.popular-item-img-owl.owl-carousel
				.popular-img.img-cover
					img(src="/images/main-bg.jpg", alt="")
				.popular-img.img-cover
					img(src="/images/main-bg.jpg", alt="")
				.popular-img.img-cover
					img(src="/images/main-bg.jpg", alt="")
			.popular-logo 
				span Full refit 2022
			.popular-item-liked 

		.popular-item-info 
			h3
				a(href="#")=name
			.popular-item-price=text
			.popular-adv
				.popular-adv-icons 
					img(src="/images/popular/1.svg", alt="")
					span 
						|18,9 м.(62 ft.)
				.popular-adv-icons 
					img(src="/images/popular/2.svg", alt="")
					span 
						|29 гостей 
				.popular-adv-icons 
					img(src="/images/popular/3.svg", alt="")
					span 
						|3 человека
				.popular-adv-icons 
					img(src="/images/popular/4.svg", alt="")
					span 
						|3 каюты
			.btn-popular-container
				a(href="#").btn.btn--blue Забронировать
				a(href="#").btn.btn--blue-border Подробнее