mixin warningItem(name, text, img)
	.warning-item
		.warning-close
		.warning-item-container
			img(src=img, alt="").warning-item-img
			.warning-item-info
				h3 
					=name
				.warning-item-text=text
				.warning-hidden-text.
					На борту судна до 27 футов с комфортом может разместиться не более 6 человек. На 20-футовом катере будет удобно и 8 человекам. Прогулочная яхта в 47 футов готова принять на своем борту до 14 человек. Для прогулки в обществе 20 человек уже потребуется яхта не менее 55 футов. Для 23-25 человек – яхты в 58 и 62 фута соответственно. Если вы организуете мероприятие с численностью гостей 30-40 человек, то вам потребуется яхта не менее 82 футов.
				.btn-container
					a(href="#").btn.btn--white-border.warning-show  Подробнее