mixin yachtsItem(name, text, data)
	.yachts-item
		.yachts-item-img
			.yachts-item-img-owl.owl-carousel
				.yachts-img.img-cover
					img(src="/images/main-bg.jpg", alt="")
				.yachts-img.img-cover
					img(src="/images/main-bg.jpg", alt="")
				.yachts-img.img-cover
					img(src="/images/main-bg.jpg", alt="")
			.yachts-logo 
				span Full refit 2022
			.yachts-item-liked 

		.yachts-item-info 
			h3
				a(href="#")=name
			.yachts-item-price=text
			.yachts-adv
				.yachts-adv-icons 
					img(src="/images/popular/1.svg", alt="")
					span 
						|18,9 м.(62 ft.)
				.yachts-adv-icons 
					img(src="/images/popular/2.svg", alt="")
					span 
						|29 гостей 
				.yachts-adv-icons 
					img(src="/images/popular/3.svg", alt="")
					span 
						|3 человека
				.yachts-adv-icons 
					img(src="/images/popular/4.svg", alt="")
					span 
						|3 каюты
			.btn-yachts-container
				a(href="#").btn.btn--blue Забронировать
				a(href="#").btn.btn--blue-border Подробнее