.feedback-home
  background-color: $blueColor
  color: $whiteColor
  padding: 90px 0
  h2
    color: inherit
    font-size: $hugeSize
    text-transform: uppercase
    margin: 0 0 30px
  a
    color: $yellowColor
  textarea,
  input
    color: $whiteColor
    &::placeholder
      color: $whiteColor
  .form-btn-container
    text-align: right
  .btn
    width: 330px
@media (max-width: 992px)
  .feedback-home
    h2
      text-align: center
    .feedback-text
      text-align: center
    .form-btn-container
      text-align: center
@media (max-width: 768px)
.feedback-home
  h2
    font-size: 28px
