
.stub
	// height: 190px
	height: 140px
header
	@include positionElement(100%, auto, 0, auto, left, top, 3, fixed )
	color: $blueColor
	background-color: $whiteColor
	// font-size: $smallSize
	.main-grid
		height: 100%
	.logo-container
		height: 70px
	a
		text-decoration: none
		&:hover
			color: $yellowColor
	.btn
		// width: 150px
		padding: 9px 5px
.border-header
	@include positionElement(100%, 1px, 0,0,left, bottom)
	background-color: $grayColorSecond
.search-main
	width: 300px
	position: relative

	input
		font-size: $smallSize
		background-color: $grayColorSecond
		border-radius: 30px
		text-transform: initial
		font-weight: 700
	.search-ico
		@include positionElement(21px, 21px, 0, 0, right)
		margin: 10px 13px
		@include bgImageEl("../images/icons/loop-gray.svg")
.line-top-container
	height: 70px
	justify-content: space-between
.nav-header
	display: flex
	justify-content: space-between
	width: 100%
	text-transform: uppercase
	font-weight: 600
	font-size: $smallSize
	li
		position: relative
		ul
			position: absolute
			left: 50%
			transform: translateX(-50%) translateY(10px)
			background-color: $whiteColor
			padding: 0
			width: 260px
			border: 1px solid $grayColorSecond
			box-shadow: $shadowOne
			font-weight: 400
			transition: ease-out 0.25s
			opacity: 0
			visibility: hidden
			li
				border-bottom: 1px solid $grayColorSecond
				&:last-child
					border: 0
			a
				padding: 16px 20px
				text-transform: initial
			&::before
				content: ""
				@include positionElement(20px,20px,50%,-10px)
				transform: translateX(-50%) rotate(45deg)
				background-color: $whiteColor
		&:hover
			ul
				opacity: 1
				visibility: visible
				transform: translateX(-50%) translateY(0)
	a
		position: relative
		padding: 23px 0
		padding-right: 20px
		i
			@include positionElement(20px,20px, 0, 50%,right)
			transform: translateY(-50%)
			@include bgImageEl("../images/arrows/carret-down-blue.svg",25px)
		&:hover
			color: $yellowColor
			i
				background-image: url("../images/arrows/carret-down-yellow.svg")
.logo
	position: relative
	display: flex
	width: 130px
	a
		margin: auto 0

	img
		transition: ease-out 0.25s
		width: 100%
.stick
	.logo
		img
			width: 131px
.feedback-header
	margin-left: auto
	a
		margin-left: 15px
.language-select
	font-weight: 600
	position: relative
	padding-right: 20px
	cursor: pointer
	i
		@include positionElement(20px,20px, 0,2px,right)
		@include bgImageEl("../images/arrows/carret-down-blue.svg",25px)
	&:hover
		color: $yellowColor
		i
			background-image: url("../images/arrows/carret-down-yellow.svg")
@media (max-width: 1280px)
	.search-main
		width: auto
@media (max-width: 992px)
	header
		.social,
		.language-select
			display: none
	.line-header-nav
		display: none
	.stub
		height: 70px
	.stick .logo img
		width: 68px
@media (max-width: 768px)
	.search-main
		display: none
