
.services-main
	background-color: $yellowColor
	color: $whiteColor
	height: 720px
	position: relative
	margin-top: -60px
	h1
		text-align: left
		color: inherit
	.btn
		width: 280px
	.main-grid,
	.services-main-info
		height: 100%
.services-main-info
	display: flex
	position: relative
.services-main-info-container
	margin: auto 0
.services-main-price
	display: inline-block
	color: $blueColor
	background-color: $whiteColor
	padding: 3px 30px
	border-radius: 30px
.services-main-text
	margin-bottom: 30px
.services-main-img
	@include positionElement( calc(55.5% - 15px), 100%, calc(44.5% + 15px))
.services-main-blue
	background-color: $blueColor
.services-main-img-full
	@include positionElement(100%, 100%)
	opacity: 0.7
.services-main-wather
	@include positionElement(calc(44.5% + 15px), 100%, 0)
	@include bgImageEl("/images/wather-sign.svg", 60%, center)
.services-water
	text-align: left
	padding: 90px 0 0px
	.head-section
		margin-bottom: 45px
