.yachts-detail-about
	.main-full
		.yachts-detail-price.vertical-align
			span 1 850 AED/час
		.yachts-detail-adv 
			.yachts-adv-icons 
				div
					img(src="/images/popular/1.svg", alt="")
					span 
						|18,9 м.(62 ft.)
			.yachts-adv-icons 
				div
					img(src="/images/popular/2.svg", alt="")
					span 
						|29 гостей 
			.yachts-adv-icons 
				div
					img(src="/images/popular/3.svg", alt="")
					span 
						|3 человека
			.yachts-adv-icons 
				div
					img(src="/images/popular/4.svg", alt="")
					span 
						|3 каюты
		.yachts-detail-controls.vertical-align
			.btn-container
				a.btn.btn--yellow(href="#") Забронировать 
				a.btn.btn--blue-border(href="#") Задать вопрос
				a.liked-btn(href="#") 
				a.phone-btn--yellow(href="#")
				a.whatsapp-btn--single(href="#") 