section.yachts-list-adv
	.main-full.head-section
		h2.title-section как снять яхту в дубае?
		h3.subtitle-section Хотите насладиться красотами и достопримечательностями мегаполиса, провести незабываемый уикенд или организовать праздничное мероприятие в открытом море? Просто арендуйте современную яхту в компании Luxury Sea Boats Charter. Что для этого необходимо?
	.main-grid.yachts-adv-items
		.yachts-adv-line
		.col-3
			.yachts-adv-item.yachts-adv-item-offset
				.yachts-adv-num
					span 1
				h3 Выбрать модель
				.yachts-adv-text Мы можем предложить вам широкий ассортимент суден любой вместимости. Выбор зависит от формата мероприятия и длительности прогулки. Ознакомиться с моделями можно в каталоге.
		.col-3
			.yachts-adv-item 
				h3 Выбрать маршрут и развлечения
				.yachts-adv-text Чтобы получить удовольствие от прогулки, заранее сообщите менеджеру, какие места вы бы хотели посетить, а также определитесь с досугом. Список услуг указан на сайте.
				.yachts-adv-num
					span 2
		.col-3
			.yachts-adv-item.yachts-adv-item-offset
				.yachts-adv-num
					span 3
				h3 Выбрать дату
				.yachts-adv-text Если ваш круиз привязан к определенному событию, рекомендуем бронировать яхту заранее, так как наплыв туристов очень большой.
		.col-3
			.yachts-adv-item.yachts-adv-item-last
				h3 Оставить заявку
				.yachts-adv-text На сайте очень удобная система навигации и форма для обратной связи. Напишите все ваши пожелания, оставьте контакты и наш менеджер свяжется с вами в самое ближайшее время для уточнения деталей.
				.yachts-adv-num 
					span 4